.vscode/**
.vscode-test/**
src/**
test/**
out/**
**/*.map
**/*.ts
!dist/**/*.d.ts
tsconfig.json
.gitignore
.gitattributes
.eslintrc*
.editorconfig
.prettierrc*
bun.lock
package-lock.json
yarn.lock
pnpm-lock.yaml
**/.DS_Store
**/.git/**
*.log
*.vsix

node_modules/**
!node_modules/shiki/**
!node_modules/@shikijs/**
node_modules/**/*.md
node_modules/**/*.map
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/__tests__/**
node_modules/**/*.test.*
node_modules/**/.github/**
